body{
    background-color: #E5E5E5;
    width: 100%;
    height: 100%;
}
.contenedor_all{
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 30px;
    display: grid;    
    grid-gap:0 ;    /* espacio entre las casillas */
    grid-template-columns: repeat(3,1fr);/* indicamos el numero de columnas que vamos a tener . usamos repet y FR indica el espacio disponible*/
    grid-template-rows: 50px 500px 20px 70px 50px;
    grid-template-areas: "header_a header_a barra_lateral"
                         "caja_ingresar_texto caja_ingresar_texto barra_lateral"
                         "caja_informacion caja_informacion barra_lateral"
                         "caja_encriptar_button caja_desencriptar_button barra_lateral "
                          "fotter fotter fotter";
                   }
/* partes del grid*/
header{
    grid-area: header_a;
      }
.caja_ingresar_texto{
    grid-area: caja_ingresar_texto;
      }
.caja_informacion{
    grid-area: caja_informacion ;
      }
.caja_encriptar_button{
    grid-area: caja_encriptar_button;
      }
.caja_desencriptar_button{
    grid-area: caja_desencriptar_button ;
      } 
aside{
    grid-area: barra_lateral;
     }
footer{
    grid-area: fotter;
      }
/* elementos*/
.header_a{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 5%;
    left: 60px;
    background-color:#0A3871;
    height: 120%;
    border-radius: 10px;
    width: 400px;
    }
.logo_blanco{
    width:auto ;
    height:48px ;
    margin: 5px;   
    } 
.git_imagen{
    height:55px ;
    }
/*ubicacion y estilos del texto a desencriptar*/
.text_area_ingresar_texto{
    display: flex;
    width: 80%;
    height: 80%;
    margin: 60px 40px ;
    font-style: #0A3871;
    background-color:#E5E5E5 ;
    border: 0;
    font-size: 25px;
    color: #0A3871; /*color de la letra*/
    }
.posicion_caja_texto{
    display: flex;
    margin: auto;
    }
/*pocicion y diseño del vector de informacion*/
.caja_informacion{
    position: relative;
    margin: 0 0 0 5%;
     }
.imagen_vector{
    display: inline-block;
     }
.info{
     display: inline-block;
     }
/*botones */
.caja_encriptar_button{
    display: flex;
    align-items: center;
    justify-content: center;
    }
.boton_encriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 67px;
    border-radius: 24px;
    border-color:#0A3871 ;
    background-color: #0A3871;
    font-style: normal;
    color: #FFFFFF;
    font-size: 20px; 
    }
.caja_desencriptar_button{
    display: flex;
    align-items: center;
    justify-content: center;
    } 
.boton_desencriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 67px;
    border-radius: 24px;
    border-color:#0A3871;
    background: #D8DFE8;
    font-style : normal;
    color : #0A3871;
    font-size : 20px; 
    }
textarea{
    border: none;
    resize:none;
    outline: 0;
    }
::placeholder { color: #0A3871;}
/*caja lateral con muñeco*/
aside{
    background-color: #FFFFFF;
    margin: 0 20% 0 0;
    border-radius: 30px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    }
.posision_answer{
    position: relative;
    height: 70vh;
    top:-70px;
    }
 .answer_text {
    position: relative;
    top:-63%;  
    width:80%;
    height: 50%;
    overflow:hidden;
    margin: 7%;
    outline: 0; 
    visibility: hidden;
     } 
 .muneco{
    margin: 15% 10% 10% 10% ;
    align-items: center;
    width: 336px;
    height: 304px;
    z-index: 100;
    }
 .no_mensaje{
    font-size: 24px;
    color: #0A3871;;
    text-align: center; 
    padding: 2% 10%;
    position: relative;
    top:-85%;
    }
.text_area_desencriptar{
    position: relative;
    top:-530px;
    text-align: center;
    font-size: 16px;
    font-style: inter;
    color: #0A3871;
    height: 50px;
    margin: auto;
    padding: 0 15%;
    
    }
.copiar_button{
    position: relative;        
    align-items: center;
    justify-content: center;
    margin: 30px;
    top:-67%;
    left: 5%;
    width: 70%;
    height: 61px;
    border-radius: 24px;
    border-color:#0A3871;
    background-color: white;
    font-style: normal;
    color: #0A3871;
    font-size: 20px;
    visibility: hidden; 
    } 
.posicion_text_area{
   text-align: center;
   justify-content: center;
   align-items: center;
     }
.boton_desencriptar:active{
    background: whitesmoke; 
    }
.boton_encriptar:active{
    background-color: #082c5a;
    }
/* funciones para js*/
.desparecer{
    display: none;
    }
.desaparecer_2{
  display: none;
    }
.desparecer_muneco{
    visibility: hidden;
     }
 .aparecer{
    visibility: visible;
    }
.aparecer_texto_answer{
    visibility: visible;
    }

/* imagenes header*/
.logo_blanco:hover{ 
    height:55px ;  
    transition: 1s;
    }
.git_imagen:hover{
    height:62px;
    transition: 1s;
    }

/* diseño responsive*/

@media screen and (max-width: 768px) {
    
   body .contenedor_all{
        grid-template-columns:50% 50%;/* indicamos el numero de columnas que vamos a tener . usamos repet y FR indica el espacio disponible*/
        grid-template-rows: 50px 30% 10px 10% 50%;
        grid-template-areas: "header_a header_a "
                            "caja_ingresar_texto caja_ingresar_texto "
                            "caja_informacion caja_informacion "
                            "caja_encriptar_button caja_desencriptar_button  "
                            "barra_lateral barra_lateral   ";
                            margin: 5% auto;
                }
.header_a {
width: 90%;
height: 100%;
    }
.caja_barra_lateral{
margin: 5%;
    }
.muneco{
    margin: 10% 25%;
    width: 336px;
    height: 304px; 
    }
.no_mensaje{
    margin: 20% 0 -10% 0;
    }
.copiar_button{
    margin: 0 0 0 10% ;
    } 
}

@media screen and (max-width: 375px ){
    
    body .contenedor_all{
         grid-template-columns:repeat(1,1fr);/* indicamos el numero de columnas que vamos a tener . usamos repet y FR indica el espacio disponible*/
         grid-template-rows: 10% 30% 5% 5% 10%;
         grid-template-areas: "header_a "
                             "caja_ingresar_texto  "
                             "caja_informacion  "
                             "caja_encriptar_button "
                             "caja_desencriptar_button"
                             "barra_lateral";
                             margin: 5% auto;
    }
 .header_a {
    width: 90%;
    height: 100%;
    }
 .caja_barra_lateral{
    margin: 5%;
    max-width: 100%;
    height: 50%;
    }
 .muneco{
  display: none;
    }
 .posicion_text_area{
display: flex;
   align-items: center;
   justify-content: center;
    }
 .text_area_desencriptar{
    padding:40px;
    }
 .posision_answer{
    display:flex;
    top:100%;
   }
 
.answer_text{
        margin:10% ;
    }
.copiar_button{
    position:relative;
     top:-100%;
     margin:10px 0 0 11% ;
 }
}